<template>
  <v-row class="mx-auto" style="width: 1000px;">
    <v-col cols="12" sm="10">
      <v-text-field v-model="searchUserID" label=""></v-text-field>
    </v-col>

    <v-col cols="12" sm="2">
      <v-btn
        @click="
          page = 1
          retrieveCutomers()
        "
      >
        Search
      </v-btn>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title>Customer</v-card-title>
        <v-data-table
          :headers="headers"
          :items="customers"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="">
            <v-btn
              elevation="2"
              @click="toPageLog(item.userid)"
              >Logs</v-btn
            >
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import CustomerDataService from '../services/CustomerDataService'
import LogDataService from '../services/LogDataService'
export default {
  name: 'customers-list',
  data () {
    return {
      searchUserID: '',
      headers: [
        {
          text: 'user',
          align: 'start',
          sortable: false,
          value: 'user',
          width: '500'
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      customers: [],
      page: 1,
      totalPages: 0,
      pageSize: 15
    }
  },
  methods: {
    getRequestParams (searchUserID, page, pageSize) {
      let params = {}
      if (searchUserID) {
        params['userid'] = searchUserID
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      return params
    },
    toPageLog (userid) {
      LogDataService.findByTitle(userid)
    },
    retrieveCustomers () {
      const params = this.getRequestParams(
        this.searchUserID,
        this.page,
        this.pageSize
      )
      CustomerDataService.getAll(params)
        .then(response => {
          const { customers, totalPages } = response.data
          this.customers = customers.map(this.getDisplayCustomer)
          this.totalPages = totalPages
          console.log(response.data)
        })
        .catch(e => {
          console.log(e)
        })
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveCustomers()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveCustomers()
    },
    refreshList () {
      this.retrieveCustomers()
    },
    getDisplayCustomer (customer) {
      return {
        id: customer.id,
        user: customer.user
      }
    }
  },
  mounted () {
    this.retrieveCustomers()
  }
}
</script>

<style>
.list {
  max-width: 750px;
}
</style>
