<template>
  <v-row class="mx-auto" style="width: 1000px;">
    
    <v-row class="mx-auto">
      <v-col cols="10">
        <v-text-field v-model="message" label="message"></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-btn right elevation="2" @click="sendMessage()">send</v-btn>
      </v-col>
    </v-row>

    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title> name</v-card-title>
        <v-btn class="float-right" elevation="2" to="/customers">Back</v-btn>

        <v-data-table
          :headers="headers"
          :items="logs"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="{}">
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import LogDataService from '../services/LogDataService'
// import axios from 'axios'

export default {
  name: 'log',
  data () {
    return {
      headers: [
        { text: 'Description', value: 'text', sortable: false, width: '500' },
        { text: 'DateTime', value: 'datetime', width: '200' },
        { text: 'Type', sortable: false, value: 'type', width: '150' }
      ],
      logs: [],
      page: 1,
      totalPages: 0,
      pageSize: 15
    }
  },
  methods: {
    getRequestParams (searchUser, page, pageSize,message,userid) {
      let params = {}
      if (searchUser) {
        params['user'] = searchUser
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      {
      if(message) {
        params['message'] = message
      }
      if(userid){
        params['userid'] = userid
      }
      }
      return params
    },
    sendMessage() {
      const params = this.getRequestParams(
        this.userid
      )
      console.log(params)
    },
    retrieveLogs () {
      const params = this.getRequestParams(
        this.searchUser,
        this.page,
        this.pageSize
      )
      LogDataService.getAll(params)
        .then(response => {
          const { logs, totalPages } = response.data
          this.logs = logs.map(this.getDisplayDiscription)
          this.totalPages = totalPages
          console.log(response.data)
        })
        .catch(e => {
          console.log(e)
        })
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveLogs()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveLogs()
    },
    refreshList () {
      this.retrieveLogs()
    },
    getDisplayDiscription (log) {
      return {
        id: log.id,
        text: log.text,
        datetime: log.datetime,
        type: log.type,
        userid: log.userid,
        replyToken: log.replyToken
      }
    }
  },
  mounted () {
    this.retrieveLogs()
  }
}
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
