<template>
  <v-row class="mx-auto" style="width: 1000px;">
    <v-col cols="12" sm="10">
      <v-text-field v-model="searchUser" label="Search by User"></v-text-field>
    </v-col>

    <v-col cols="12" sm="2">
      <v-btn @click="page = 1
      retrieveLogs()"> Search
      </v-btn>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title>Logs</v-card-title>
        <v-data-table
          :headers="headers"
          :items="logs"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon class="mr-2" @click="showDescription(item.user)"
              >mdi-eye</v-icon
            >
            <v-icon class="mr-2" @click="sendLog(item.userid)"
              >mdi-pen</v-icon
            >
            <v-btn elevation="2" to="/logsDescription">Logs</v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import LogDataService from "../services/LogDataService";
export default {
  name: "logs-list",
  data() {
    return {
      searchUser: "",
      headers: [
        { text: "User", align: "start", sortable: false, value: "user", width:"150" },
        { text: "Description", value: "text", sortable: false, width:"350" },
        { text: "DateTime", value: "datetime", width:"200" },
        { text: "Type", sortable: false, value: "type", width:"120"  },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      logs: [],
      page: 1,
      totalPages: 0,
      pageSize: 15
    };
  },
  methods: {
    getRequestParams(searchUser, page, pageSize) {
      let params = {};
      if (searchUser) {
        params["user"] = searchUser;
      }
      if (page) {
        params["page"] = page - 1;
      }
      if (pageSize) {
        params["size"] = pageSize;
      }
      return params;
    },
    showDescription(user) {
      console.log(user)
      const searchUser = user
      const params = this.getRequestParams(
        searchUser,
        this.page,
        this.pageSize
      );
      LogDataService.getAll(params)
      .then((response) => {
          const { logs, totalPages } = response.data;
          this.logs = logs.map(this.getDisplayDiscription);
          this.totalPages = totalPages;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retrieveLogs() {
      const params = this.getRequestParams(
        this.searchUser,
        this.page,
        this.pageSize
      );
      LogDataService.getAll(params)
        .then((response) => {
          const { logs, totalPages } = response.data;
          this.logs = logs.map(this.getDisplayLog);
          this.totalPages = totalPages;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    handlePageChange(value) {
      this.page = value;
      this.retrieveLogs();
    },
    handlePageSizeChange(size) {
      this.pageSize = size;
      this.page = 1;
      this.retrieveLogs();
    },
    refreshList() {
      this.retrieveLogs();
    },
    getDisplayLog(log) {
      return {
        // user: customer.user.substr(0, 20) + "...",
        id: log.id,
        userid: log.userid,
        user: log.user,
        // text: log.text,
        datetime: log.datetime,
        type : log.type,
        replyToken: log.replyToken
      };
    },
    getDisplayDiscription(log) {
      return {
        id: log.id,
        user: log.user,
        text: log.text,
        datetime: log.datetime,
        type : log.type
      };
    },
    sendLog(userid) {
      console.log(userid);
      const searchUser = userid
      const params = this.getRequestParams(
        searchUser,
        this.page,
        this.pageSize
      );
      LogDataService.getAll(params)
      .then((response) => {
          const { logs, totalPages } = response.data;
          this.logs = logs.map(this.getDisplayDiscription);
          this.totalPages = totalPages;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveLogs();
  },
};
</script>

<style>
.list {
  max-width: 750px;
}
</style>
