<template>
  <v-app>
    <v-app-bar app dark >
      <div class="d-flex align-center mr-2">
        BURAPHA UNIVERSITY
      </div>

      <!-- <v-btn to="/customers" text>
        Customers
      </v-btn> -->

      <!-- <v-btn class="align-self ml-auto" to="/" text>
        Sign out
      </v-btn> -->
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
};
</script>
